# @magnetic:registry=https://engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/
# //engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:_password=Y21WbWRHdHVPakF4T2pFM05EazNNemcxTXpBNlduRjBlVVJ2UzJGVFQyVmhabXRSVFZkM2NrSjZXazFwYlZWdA==
# //engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:username=mpeechar
# //engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:email=ENTER_YOUR_EMAIL_HERE
# //engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:always-auth=true